<mat-drawer-container class="container" autosize >
  <!-- Will be triggered by (click) = "drawer.toggle()" -->
   
  <div class="sidenav-content">
      <mat-toolbar color="primary">
          <mat-toolbar-row>
              <!-- 
                drawer.toggle(): will call #drawer and will bring the sidenav into view
              -->
              <button mat-icon-button (click) = "drawer.toggle()">
                      <mat-icon>menu</mat-icon>
              </button>
              <button mat-button (click)="home()" >State-Machine</button>
       
              <span class="spacer"></span>
              
              <mat-menu #menu="matMenu" >
                
              </mat-menu>

          </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
  </div>
  
  <mat-drawer #drawer class="sidenav">
          <button mat-menu-item routerLink="">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button> 

          <div *ngIf= "workflowList != null">
            <div *ngFor= "let workflow of workflowList">
              <button mat-menu-item (click)="SetWorkflow(workflow.workflowId)">
                <mat-icon>adjust</mat-icon>
                <span>{{workflow.name}}</span>
              </button>
            </div>
          </div>

  </mat-drawer>
 
</mat-drawer-container>